{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{% static 'calc/Chart.js' %}"></script>
    <script type="text/javascript">
        {% if pre_graph_data %}
            var pre_graph_data = {{ pre_graph_data|safe }}
        {% else %}
            var pre_graph_data = null
        {% endif %}
    </script>
</head>

<body>
<h1>Welcome to the FIRE Monte Carlo Simulator</h1>
<div id="pre">
    <p>When can I retire?</p>

    <form action="{% url 'calc:calc-pre' %}" method="post">
    {% csrf_token %}
    Initial Amount: <input type="number" name="initial-amount" value="{{ params.initial_amount }}" min="0">
    Annual Addition: <input type="number" name="annual-addition" value="{{ params.annual_addition }}" min="0">
    Target Amount: <input type="number" name="target-amount" value="{{ params.target_amount }}" min="0">
    Stock &#37;: <input type="number" name="stock-percentage" value="{{ params.stock_percentage }}" min="0" max="100">
    Bond &#37;: <input type="number" name="bond-percentage" value="{{ params.bond_percentage }}" min="0" max="100">
    Cash &#37;: <input type="number" name="cash-percentage" value="{{ params.cash_percentage }}" min="0" max="100">
    <input type="submit" value="Run Simulations">
    </form>

    <canvas id="pre-chart0" width="800" max-height="400" style="display:none;{% if pre_graph_data %} display:inline;{% endif %}"></canvas>
    <script src="{% static 'calc/custom-charts.js' %}"></script>
</div>

<div id="post">
    <p>Post-retirement</p>
</div>

</body>
</html>
